_*

# log files
log
logs
erl_crash.dump

# dialyzer artifacts
*.plt

# Rebar artifacts
_build
.rebar
ebin
.rebar3

# beam artifacts
*.beam

# other artifacts
.eunit
*.o
*.swp
*.swo

# Generated source files
src/*_parse.erl
src/*_scan.erl

# secrets!
.erlang.cookie

# Generated binaries
brahmin_runner
