%% -*- mode: erlang -*-

[{elvis, [{config, [#{dirs => ["src"],
                      filter => "*.erl",
                      ignore => ["brahmin_problem_scan",
                                 "brahmin_problem_parse",
                                 "brahmin_solution_scan",
                                 "brahmin_solution_parse"],
                      rules => [{elvis_style,
                                 no_debug_call,
                                 #{ignore => [runner,
                                              brahmin_runner,
                                              problem,
                                              solution]}}],
                      ruleset => erl_files},
                    #{dirs => ["."],
                      filter => "Makefile",
                      ruleset => makefile},
                    #{dirs => ["."],
                      filter => "rebar.config",
                      ruleset => rebar_conf},
                    #{dirs => ["."],
                      filter => "elvis.config",
                      ruleset => elvis_conf}]}]}].
