%% -*- mode: erlang -*-

[{elvis, [{config, [#{dirs => ["src"],
                      filter => "*.erl",
                      ignore => ["brahmin_problem_scan",
                                 "brahmin_problem_parse"],
                      ruleset => erl_files},
                    #{dirs => ["."],
                      filter => "Makefile",
                      ruleset => makefile},
                    #{dirs => ["."],
                      filter => "rebar.config",
                      ruleset => rebar_conf},
                    #{dirs => ["."],
                      filter => "elvis.config",
                      ruleset => elvis_conf}]}]}].
