%% -*- mode: erlang -*-

{erl_opts, [no_debug_info,
            native,
            {hipe, [o3]}]}.
{deps, [{color, {git, "https://github.com/julianduque/erlang-color.git", {branch, "master"}}}]}.

{escript_incl_apps,
 [kernel,stdlib,color]}.
{escript_top_level_app, brahmin_runner}.
{escript_name, brahmin_runner}.
{escript_emu_args, "%%! +sbtu +A0 -kernel error_logger 'silent'\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}]},
            {dev,
             [{erl_opts, [debug_info]}]}]}.

{dialyzer, [{get_warnings, true},
            {plt_apps, all_deps},
            {plt_extra_apps, [color]}]}.
