{erl_opts, [no_debug_info]}.
{deps, [{color, {git, "https://github.com/julianduque/erlang-color.git", {branch, "master"}}}]}.

{escript_incl_apps,
 []}.
{escript_top_level_app, brahmin_runner}.
{escript_name, brahmin_runner}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]},
            {dev,
             [{erl_opts, [debug_info]}
             ]}]}.
